<div class="monster" draggable="true">
</div>
<div class="stats">
    <table>
        <tr>
            <td>Name:</td>
            <td g-model="name"></td>
        </tr>
        <tr>
            <td>Color:</td>
            <td g-model="color"></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td g-model="monsterType"></td>
        </tr>
        <tr>
            <td>Legs:</td>
            <td g-model="legs"></td>
        </tr>
        <tr>
            <td>Arm type:</td>
            <td g-model="armType"></td>
        </tr>
        <tr>
            <td>Arms:</td>
            <td g-model="arms"></td>
        </tr>
        <tr>
            <td>Eyes:</td>
            <td g-model="eyes"></td>
        </tr>
        <tr>
            <td>Fur:</td>
            <td g-model="fur"></td>
        </tr>
        <tr>
            <td>Can swim:</td>
            <td g-model="canSwim"></td>
        </tr>
        <tr>
            <td>Can fly:</td>
            <td g-model="canFly"></td>
        </tr>
        <tr>
            <td>Strength:</td>
            <td g-model="power"></td>
        </tr>
        <tr>
            <td>Act Strength:</td>
            <canvas class="chart" width="200" height="200"></canvas>
            <td g-model="actualPower"></td>
        </tr>
        <tr>
            <td>Can use power:</td>
            <td g-model="canDoSpecial"></td>
        </tr>
    </table>
</div>
