<form  g-on="submit:submitted"  onsubmit="return false" >
    <div class="form-group">
        <label for="name" >Name</label>
        <input g-model="monsterName" type="text" g-bind="disabled:isEditing" class="form-control" id="name" placeholder="one">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Monster type</label>
        <select g-bind="disabled:isEditing" g-model="monsterType" class="form-control" id="exampleFormControlSelect1">
            <option>Water</option>
            <option>Fire</option>
            <option>Earth</option>
            <option>Wind</option>
        </select>
    </div>
    <div class="form-group">
        <label for="arm-type">Arm type</label>
        <select g-bind="disabled:isEditing" g-model="armType" class="form-control" id="arm-type">
        </select>
    </div>
    <div class="form-group">
        <label for="formControlRange">Amount of arms <span g-model="arms"></span> </label>
        <input g-model="arms"  type="range" g-bind="max:maxArms,disabled:isEditing" class="form-control-range" id="formControlRange" min="0">
    </div>
    <div class="form-group">
        <label for="eyesrange">Eyes <span g-model="eyes"></span> </label>
        <input g-model="eyes" id="eyesrange" g-bind="disabled:isEditing,max:maxEyes,min:minEyes"  type="range"  class="form-control-range" >
    </div>
    <div class="form-group">
        <label for="legsrange">Amount of legs <span g-model="legs"></span> </label>
        <input g-model="legs" id="legsrange" g-bind="disabled:isEditing,max:maxLegs,step:legSteps,min:minLegs"  type="range"  class="form-control-range">
    </div>
    <div class="form-group">
        <label for="fur">Fur type</label>
        <select g-bind="disabled:isEditing" g-model="fur" class="form-control" id="fur">
        </select>
    </div>
    <div class="form-group">
        <label for="color">Coat color:</label>
            <select g-bind="disabled:isEditing" g-model="color" class="form-control" id="color">
        </select>
    </div>
    <div class="form-group">
        <label for="power">Power strength: <span g-model="power"></span> </label>
        <input g-model="power" max="10" type="range" g-bind="disabled:isEditing" class="form-control-range" id="power" min="0">
    </div>
    <g-monster-draw></g-monster-draw>
    <button type="button"  g-on="click:switchIsDrawing" g-bind="disabled:cantSave" class="btn-primary btn"><span g-model="drawButtonText"></span> </button>
    <g-incinarator></g-incinarator>
</form>
