.panel{

}

g-form {
    min-width: 230px;
}

.base {
    position: absolute;
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    width: 1000px;
    height: 1000px;

}

div {
    background-color: rgba(1, 1, 1, 0.1);
    height: 100%;
    width: 100%;
}

g-element {
    position: absolute;
    height: 100px;
    width: 100px;
    border: solid black 1px;

}



.rock {
    background-color:black;
}
