.panel{

}

g-form {
    min-width: 230px;
}



.base {
    position: absolute;
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    width: 1000px;
    height: 1000px;

}


.jungle g-element {
    background-color: rgba(0, 255, 1, 0.2);
}

.sjahari g-element {
    background-color: rgba(255, 241, 9, 0.2);
}

.icepole g-element {
    background-color: rgba(71, 225, 255, 0.2);
}

div {
    /* background-color: rgb(100, 1, 1); */
    height: 100%;
    width: 100%;
}

g-element {
    position: absolute;
    height: 100px;
    width: 100px;
    border: solid black 0.5px;
}



.rock {
    background-color:black;
}
