.panel{
    padding: 0;
    min-width: 230px;
    height: 100%;
    width: 100%;
}

g-form {
}

#grid-holder{
    width: 1000px;
}

g-grid{
    width: 1000px;
}

#field-select {
    position: absolute;
margin-top: -40px;
}

#background {
    position: absolute;
    width: 1000px;
    height: 1000px;
}
