.panel {
    padding: 0;
    min-width: 230px;
    height: 100%;
    width: 100%;
}

g-form {
}

#grid-holder {
    width: 1020px;
    height: 1020px;
    padding: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

}

g-grid {
    width: 1000px;
}

#field-select {
    position: absolute;
    margin-top: -40px;
}

#background {
    pointer-events: none;
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: 500;
}
