<div class="container-fluid p-5 vh-100 ">
    <div class="row h-100">
        <g-form class="h-100 col-2 panel"></g-form>
        <div class="col-9">
            <div id="field-select">
                <label>
                    Weather:
                    <select g-model="fieldType">
                        <option value="Clear">Clear</option>
                        <option value="Mist">Mist</option>
                        <option value="Rain">Rain</option>
                    </select>
                </label>
                <button class="btn btn-primary" value="Jungle" g-on="click:changeTo,dragenter:changeTo">Jungle</button>
                <button class="btn btn-primary" value="Sjahari" g-on="click:changeTo,dragenter:changeTo">Sjahari</button>
                <button class="btn btn-primary" value="IcePole" g-on="click:changeTo,dragenter:changeTo">IcePole</button>
                <span g-model="region"></span>
            </div>
            <g-background id="background"></g-background>
            <div class="panel" id="grid-holder">
                <g-grid region="Jungle"></g-grid>
            </div>

        </div>
    </div>
</div>


