<div class="container-fluid p-5 vh-100 ">
    <div class="row h-100">
        <g-form class="h-100 col-2 panel"></g-form>
        <div class="col-9">
            <select g-model="fieldtype" value="aaa">
                <option>water</option>
                <option>fire</option>
                <option>earth</option>
                <option>wind</option>
            </select>
            <div class="panel">
                <g-grid></g-grid>
                <g-background></g-background>
            </div>

        </div>
    </div>
</div>
