
.base {

    z-index: 1;
    height: 100px;
    width: 100px;
    transition: transform 0.4s  ;

}

.grid-element {
    height: 100px;
    width: 100px;
}
.rock {
    background-image: url("./goal.svg");
}

.monster-over{ 
    background-color: rgba(48, 48, 48, 0.42);
    transform: scale(1.2);
    z-index: 4000;
}

