canvas{
    height: 100%;
    width: 100%;

}

.base {
    height: 100%;
}

#wrapper{position:relative;}
#canvas1{position:absolute; border:1px solid red;}
#canvas2{position:absolute; border:1px solid blue;}
#canvas3{position:absolute; border:1px solid green;}
#canvas4{position:absolute; border:1px solid lightblue;}