canvas{
    height: 100%;
    width: 100%;

}

#background {pointer-events:none;
}

.base {
    height: 100%;
}

#canvas1{position:absolute; border:1px solid red;}
#canvas2{position:absolute; border:1px solid blue;}
#canvas3{position:absolute; border:1px solid green;}
#canvas4{position:absolute; border:1px solid lightblue;}